@model Product
<div class="container mt-5">
    <div class="row">
        <form method="post" asp-controller="product" asp-action="update" enctype="multipart/form-data">
            <div class="row">
                <div class="col-3">
                    <label asp-for="Name" class="form-label">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-3">
                    <label asp-for="Title" class="form-label">Title</label>
                    <input asp-for="Title" class="form-control" placeholder="Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="col-2">
                    <label asp-for="CostPrice" class="form-label">CostPrice</label>
                    <input asp-for="CostPrice" class="form-control" placeholder="CostPrice" />
                    <span asp-validation-for="CostPrice" class="text-danger"></span>
                </div>
                <div class="col-2">
                    <label asp-for="SalePrice" class="form-label">SalePrice</label>
                    <input asp-for="SalePrice" class="form-control" placeholder="SalePrice" />
                    <span asp-validation-for="SalePrice" class="text-danger"></span>
                </div>
                <div class="col-2">
                    <label asp-for="Discount" class="form-label">Discount</label>
                    <input asp-for="Discount" class="form-control" placeholder="Discount" />
                    <span asp-validation-for="Discount" class="text-danger"></span>
                </div>

            </div>

            <div class="row">
                <div class="mb-3 col-10">
                    <label asp-for="Description" class="form-label">Description"</label>
                    <textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="mb-3 col-2 d-flex align-items-center">
                    <label asp-for="IsAvaible" class="form-label">IsAvaible</label>
                    <input asp-for="IsAvaible" class="form-control" />
                    <span asp-validation-for="IsAvaible" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label asp-for="PosterImgFile" class="form-label">PosterImgFile</label>
                    <input asp-for="PosterImgFile" class="form-control" />
                    <span asp-validation-for="PosterImgFile" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <label asp-for="ProductImageFiles" class="form-label">ProductImageFiles</label>
                    <input asp-for="ProductImageFiles" multiple class="form-control" />
                    <span asp-validation-for="ProductImageFiles" class="text-danger"></span>
                   <div class="d-flex flex-wrap">
                        @foreach (var img in Model.ProductImages.Where(x => x.IsPoster == false))
                        {
                            <div class="mx-3 position-relative" style="max-width:100px;max-height:100px;">
                                <img class="w-100 h-100" src="~/uploads/productimages/@img.ImageUrl" />
                                <span class="text-danger removeProductImgBtn" style="position:absolute;top:5px;right:0;cursor:pointer;font-weight:bold;">X</span>
                                <span asp-validation-for="ProductImageFiles"></span>
                                <input hidden name="ProductImgIds" value="@img.Id" />
                            </div>
                        }
                   </div>
                </div>
            </div>
             <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>